 .body-style-cloud{
 	background-color: #f3f3f3: margin:0px; padding:0px; overflow:hidden;
 	}
 .cloudmaindiv {
 	 height:100% ; width:15%; position:absolute;
 	}
.list-group-item_two {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #e9e9e9;
    border: 1px solid #dddddd;
}
.spinner_Iwrite {
	  width: 60px;
	  height: 60px;
	  background-color: #63a0f6;
	 
	  margin: 100px auto;
	  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
	  animation: rotateplane 1.2s infinite ease-in-out;
	}
	 
	@-webkit-keyframes rotateplane {
	  0% { -webkit-transform: perspective(120px) }
	  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
	}
	 
	@keyframes rotateplane {
	  0% {
	    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	  } 50% {
	    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	  } 100% {
	    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	  }
	}
.index_right_div{
	cursor:pointer;
	color: #428bca;
}
.index_right_div:hover {
 	cursor:pointer;
	color: #000000;
}
#a_index{
	text-decoration: none;
	cursor:pointer;
}

