<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="__IMG__/logo.jpg" />
		<load file="__CSS__/bootstrap.css" /> 
		<load file="__CSS__/bootstrap-theme.min.css" />
		<load file="__CSS__/Iwrite.css" /> 
		<load file="__WEDITOR__/dist/css/wangEditor.min.css" /> 
		<script type="text/javascript" src="__JS__/jquery.min.js"></script>
		<script type="text/javascript" src="__WEDITOR__/dist/js/wangEditor.min.js"></script>
		<script type="text/javascript" src="__EDIT__/ueditor.config.js"></script>
		<script type="text/javascript" src="__EDIT__/ueditor.all.min.js"></script>
		<script type="text/javascript" src="__EDIT__/lang/zh-cn/zh-cn.js"></script>
		<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
		<script type="text/javascript" src="__JS__/echarts.min.js"></script>
		<script type="text/javascript" src="__UPLOAD__/plupload.full.min.js"></script>
		<title>Iwrite</title>
	</head>
