<div class="navbar-fixed-top" style="width: 15%;height: 100%;position: absolute;font-family: '微软雅黑';background-color: #e9e9e9;margin-left: 85%;" align="center"> 
	<ul class="list-group">
	  <div id="history1" class="index_right_div">
		  <li class="list-group-item " >编辑历史  </li>
		   <div style="display: none;" id="historydiv1">
			   <a id="a_index"><li class="list-group-item_two ">我的信息</li></a>	   
			   <a id="a_index"><li class="list-group-item_two ">我的信息</li></a>	
			   <li class="list-group-item_two ">我的信息</li>
			   <li class="list-group-item_two ">我的信息</li>
			   <li class="list-group-item_two ">我的信息</li>
		  </div>
	  </div>
	 <div id="history2" class="index_right_div">
		  <li class="list-group-item " >我的文章  </li>
		   <div style="display: none;" id="historydiv2">
			   <li class="list-group-item_two ">我的信息</li>	   
			   <li class="list-group-item_two ">我的信息</li>
			   <li class="list-group-item_two ">我的信息</li>
			   <li class="list-group-item_two ">我的信息</li>
			   <li class="list-group-item_two ">我的信息</li>
		  </div>
	 </div>
	 <div id="history3" class="index_right_div">
		  <li class="list-group-item " >返回大厅  </li>
		   <div style="display: none;" id="historydiv3">
			   <li class="list-group-item_two ">我的信息</li>	   
			   <li class="list-group-item_two ">我的信息</li>
			   <li class="list-group-item_two ">我的信息</li>
			   <li class="list-group-item_two ">我的信息</li>
			   <li class="list-group-item_two ">我的信息</li>
		  </div>
	  </div>
	  <div id="history4" class="index_right_div">
		  <li class="list-group-item " >云储存  </li>
		   <div style="display: none;" id="historydiv4">
			   <li class="list-group-item_two ">我的信息</li>	   
			   <li class="list-group-item_two ">我的信息</li>
			   <li class="list-group-item_two ">我的信息</li>
			   <li class="list-group-item_two ">我的信息</li>
			   <li class="list-group-item_two ">我的信息</li>
		  </div>
	  </div>
	</ul>
	<div align="center">
		<span class="label label-default">2016©Iwrite</span>
	</div>
</div>
<script>  
	$("#history1").hover(function(){
		$("#historydiv1").stop().show(500);
	},function(){  
        $("#historydiv1").hide(500);  
   });
   $("#history2").hover(function(){
		$("#historydiv2").stop().show(500);
	},function(){  
        $("#historydiv2").hide(500);  
   });
   $("#history3").hover(function(){
		$("#historydiv3").stop().show(500);
	},function(){  
        $("#historydiv3").hide(500);  
   });
   $("#history4").hover(function(){
		$("#historydiv4").stop().show(500);
	},function(){  
        $("#historydiv4").hide(500);  
   });
</script>