<include file="Public:header" />
	<body class="body-style-cloud">
			<include file="Public:left" />
			<!--左侧-->
			<div style="margin-left: 15%;width: 70%;position: absolute;font-family: '微软雅黑';height: 100%;position: absolute;">
				<ul id="myTab" class="nav nav-tabs ">
				  <li class="active"><a href="#home" data-toggle="tab">每日精选</a></li>
				  <li><a href="#ios" data-toggle="tab">发现精彩</a></li>
				  <li><a href="#settings" data-toggle="tab">经典著作</a></li>
				  <li><a href="#settings" data-toggle="tab">文库</a></li>
				  <div align="right">
			  			<button class="glyphicon glyphicon-user btn-link" style="margin-right:3%;height: 40px;width:40px;"></button>
			  	 </div>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="home">
						<div class="spinner_Iwrite"></div>
					</div>
					<div class="tab-pane fade" id="ios">
						<div class="spinner_Iwrite"></div>
					</div>
					
				</div>
			</div>
			<!--右侧-->
			<include file="Public:right" />
	</body>
</html>
